.protest-locations {
    padding: 60px 20px;
    text-align: center;
    h3 {
        margin-bottom: 30px;
        font-size: 2.1em;
        font-weight: 700;
        line-height: 1.1em;
        color: #000;
    }
    &__locations {
        max-width: 840px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__location {
        width: 280px;
        height: 160px;
        margin: 0 20px 40px 20px;
        padding: 20px;
        border: 10px solid #c9c9c9;
        h4 {
            margin-bottom: 15px;
            font-size: 1.2em;
            font-weight: 700;
            line-height: 1.3em;
            color: #000;
        }
        a {
            color: blue;
            text-decoration: none;
            line-height: 1.3em;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    
}