.protest-locations {
    padding: 30px 20px; 
    text-align: center;
    h3 {
        margin-bottom: 20px;
        font-size: 1.4em;
        font-weight: 700;
        line-height: 1.2em;
        color: #000;
        @media(min-width: 500px) {
          margin-bottom: 30px;
          font-size: 2.1em;
          line-height: 1.1em;
        }
    }
    &__locations {
        max-width: 840px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        @media(min-width: 840px) {
            flex-direction: row;
        }
    }
    &__location {
        width: 220px;
        height: 130px;
        margin: 0 20px 20px 20px;
        padding: 20px;
        border: 10px solid #c9c9c9;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media(min-width: 840px) {
            width: 280px;
            height: 160px;
            margin: 0 20px 40px 20px;
        }
        h4 {
            margin-bottom: 15px;
            font-size: 1.2em;
            font-weight: 700;
            line-height: 1.3em;
            color: #000;
        }
        a {
            color: blue;
            text-decoration: none;
            line-height: 1.3em;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    
}