.protest-banner {

    margin-top: 80px;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    @media(min-width: 720px) {
        margin-top: 50px;
    }
    h2 {
      padding: 30px 20px;
      font-size: 1.8em;
      font-weight: 900;
      line-height: 1.3em;
      color: #fff;
      @media(min-width: 480px) {
        padding: 70px 20px;
        font-size: 2em;
        line-height: 1.3em;
      }
      @media(min-width: 720px) {
        padding: 70px 20px;
        font-size: 3em;
        line-height: 1.2em;
      }
      @media(min-width: 1260px) {
        padding: 130px 20px;
        font-size: 3em;
        line-height: 1.1em;
      }
      .break01 {
        display: inline;
        @media(min-width: 900px) {
            display: none;
        }
      }
      .break02 {
        display: inline;
        @media(min-width: 1260px) {
            display: none;
        }
      }
    }
    
    &__media {
        background-image: url('../imgs/home-protest-media.png');
    }
    &__washingtondc {
        background-image: url('../imgs/home-protest-washingtondc.png');
    }

}