h1 {
}

h2 {
}

h3 {
}

h4 {
}

h5 {
}

p {
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  line-height: 25px;
  letter-spacing: .5px;
}

ul {
  margin-bottom: 10px;
  padding-left: 40px;
  list-style: disc;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: .5px;
}

ol {
  margin-bottom: 10px;
  padding-left: 40px;
  list-style: decimal;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: .5px;
}

figcaption {
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  line-height: 25px;
  letter-spacing: .5px;
  text-align: right;
  font-style: italic;
}

h3 {

}

h4 {

}

ul, ol {

}

li {

}

ul {

  li {

  }

}

ol {

  li {

  }

}

// p {
//   margin-bottom: 20px;
//   font-family: 'OpenSans-Semibold', sans-serif;
//   color: @grey;
//   font-size: 14px;
//   line-height: 25px;
//   letter-spacing: .5px;
// }

// b, strong {
//   font-family: 'OpenSans-Bold', sans-serif;
// }

// i, em {
//   font-family: 'OpenSans-SemiboldItalic', sans-serif;
// }
