    </div> {{!-- .content --}}
    
    {{!-- <footer id="footer">
        <div class="footer__row footer__row__1 footer__nav">
            <a href="/about">About Us</a>
            <a href="/contact">Contact</a>
            <a href="/privacy-policy">Privacy</a>
            <a href="/terms-of-service">Terms</a>
        </div>
        <div class="footer__row footer__row__2 footer__hashtag">
            <a href="/faq">faq</a>
            <a href="/financials">Financial Transparency</a>
        </div>
        <div class="footer__row footer__row__3 footer__hashtag">
            <a href="/"><span>M4M4ALL.ORG</span></a>
            <a href="/"><span>#M4M4ALL</span></a>
            
        </div>
        <div class="footer__row footer__row__4 footer__marchdate">JULY 24TH, 2021</div>
    </footer> --}}

</body>
</html>