    </div> {{!-- .content --}}
    
    <footer id="footer">
        <div class="footer__row footer__row__1 footer__nav">
            <a href="/#about-home">About Us</a>
            <a href="/contact">Contact</a>
            <a href="/privacy-policy">Privacy</a>
            <a href="/terms-of-service">Terms</a>
        </div>
        <div class="footer__row footer__row__3 footer__hashtag">
            <a href="/"><span>CancelTheirHealthcare.org</span></a>
            <a href="/"><span>#CancelTheirHealthcare</span></a>
        </div>
    </footer>

</body>
</html>