    </div> {{!-- .content --}}
    
    <footer class="footer">
        <div class="footer__row footer__row__1 footer__nav">
            <a href="/#about-home">About</a>
            <a href="/#protests-home">Protests</a>
            <br />
            <a href="/privacy-policy">Privacy</a>
            <a href="/terms-of-service">Terms</a>
        </div>
        <div class="footer__row footer__row__2 footer__hashtag">
            <a href="/"><span>SideEffectsReal.com</span></a>
            <a href="/"><span>#SideEffectsReal</span></a>
        </div>
    </footer>

</body>
</html>