<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=yes">
        <meta property="og:url" content="https://canceltheirhealthcare.org/"/>
        <meta property="og:type" content="website" />
        <meta property="og:image" content="https://canceltheirhealthcare.org/img/cancel-their-healthcare-banner.svg" />
        {{!-- <meta property="og:image:width" content="1920" />
        <meta property="og:image:height" content="1080" /> --}}
        <meta property="og:description" content="Cancel Their Healthcare. A PEACEFUL request to cancel the healthcare provided to all of our American Representatives in Washington, DC.">
        <title>#CancelTheirHealthcare | Cancel Their Healthcare</title>
        {{!-- <link rel="icon" href="/img/.png"> --}}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
        <link rel="stylesheet" href="/main.fb6bbcaf.css">
        <script src="/main.fb6bbcaf.js"></script>
    </head>

<body class="{{ page }} asdf">

<!-- <header class="header-wrapper">
    <div class="header">
        <h1><a href="/"><span class="red">#M4</span><span class="white">M4</span><span class="blue">ALL</span></a></h1>

        <div id="header-nav">
            {{!-- <a href="/">july 24th, 2021</a> --}}
            <a href="https://m4mallshop.itemorder.com/sale" target="_blank">Shop</a>
            <a href="/faq">FAQ</a>
            <a href="/coalition">COALITION</a>
            <a href="/cities">CITIES</a>
            <a href="https://forms.gle/5LyqSJgS9k9odhP6A">VOLUNTEER</a>
            <a href="/why-march-with-us">Why March?</a>
        </div>
    </div>
</header>  -->

<div class="content">
