<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=yes">
        <meta property="og:url" content="https://sideeffectsreal.com/"/>
        <meta property="og:type" content="website" />
        <meta property="og:image" content="https://sideeffectsreal.com/img/cancel-their-healthcare-banner.svg" />
        {{!-- <meta property="og:image:width" content="1920" />
        <meta property="og:image:height" content="1080" /> --}}
        <meta property="og:description" content="C-19 Vaccine Side Effects Are Real. It's time to protest the doctors at their own workplace and get them to come forward and answer for their misconduct.">
        <title>#SideEffectsReal | C-19 Vaccine Side Effects Are Real</title>
        {{!-- <link rel="icon" href="/img/.png"> --}}
        <link rel="shortcut icon" href="favicon.png" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
        <link rel="stylesheet" href="/main.fb6bbcaf.css">
        <script src="/main.fb6bbcaf.js"></script>
    </head>

<body class="{{ page }}">

<header class="header">
    <div class="header__wrapper">
        <h1><a href="/">#SideEffectsReal</a></h1>
        <div class="header__nav">
            <a href="/#protests-home">Protest</a>
            <a href="/#about-home">About</a>
        </div>
    </div>
</header>

<div class="content">
