<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=yes">
        <meta property="og:url" content="https://canceltheirhealthcare.org/"/>
        <meta property="og:type" content="website" />
        <meta property="og:image" content="https://canceltheirhealthcare.org/img/cancel-their-healthcare-banner.svg" />
        {{!-- <meta property="og:image:width" content="1920" />
        <meta property="og:image:height" content="1080" /> --}}
        <meta property="og:description" content="Cancel Their Healthcare. A PEACEFUL request to cancel the healthcare provided to all of our American Representatives in Washington, DC.">
        <title>#CancelTheirHealthcare | Cancel Their Healthcare</title>
        {{!-- <link rel="icon" href="/img/.png"> --}}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
        <link rel="stylesheet" href="/main.fb6bbcaf.css">
        <script src="/main.fb6bbcaf.js"></script>
    </head>

<body class="{{ page }}">

<header class="header">
    <div class="header__wrapper">
        <h1><a href="/">#CancelTheirHealthcare</a></h1>
        <div class="header__nav">
            <a href="/#protests-home">Protests</a>
            <a href="/#about-home">About</a>
        </div>
    </div>
</header>

<div class="content">
