<section>
    <h2>Instructions</h2>
    <p>Use whatever social media you prefer. Videos, Photos, and Text Posts. Show yourself at the protest and ask your followers or subscribers to spread the message.</p>
    <p>Get out there when you have the time. After work, or on a day off, and for as many days and hours that you can, until 100% of our Representatives are no longer covered.</p>
    <p>The Chant: "Cancel Their Healthcare! Cancel Their Healthcare! Cancel Their Healthcare!"</p>
    <p>Need printables?</p>
    <a href="">get printables here ></a>
</section>