<section class="protest-instructions">
    <h3>Instructions</h3>
    <div class="protest-instructions__content-wrapper">
        <p><span class="protest-instructions__content-wrapper__point">Chant:</span> "Cancel Their Healthcare! Cancel Their Healthcare! Cancel Their Healthcare!"</p>
        {{#if protestWashingtonDC}}
            <p><span class="protest-instructions__content-wrapper__point">Approach our Represenatives:</span> PEACEFULLY approach our Representatives and POLITELY REQUEST that they cancel their healthcare as soon as possible.</p>
        {{/if}}
        {{#if protestWashingtonDC}}
            <p><span class="protest-instructions__content-wrapper__point">Share:</span> Use whatever social media platform you prefer. Videos, Photos, and Text Posts. Get their response on public record.</p>
        {{/if}}
        {{#if protestMainstreamMedia}}
            <p><span class="protest-instructions__content-wrapper__point">Share:</span> Use whatever social media platform you prefer. Videos, Photos, and Text Posts. Let’s keep their attention.</p>
        {{/if}}
        <p><span class="protest-instructions__content-wrapper__point">Day / Time:</span> Get out there right now, today. Join up with whoever is out there, or start a new crowd.</p>
    </div>
</section>