<section>
    <h2>Instructions</h2>
    <p>Chant: "Cancel Their Healthcare! Cancel Their Healthcare! Cancel Their Healthcare!"</p>
    {{#if protestWashingtonDC}}
        <p>Approach our Represenatives: PEACEFULLY approach our Representatives and POLITELY REQUEST that they cancel their healthcare as soon as possible.</p>>
    {{/if}}
    {{#if protestWashingtonDC}}
        <p>Share online: Use whatever social media you prefer. Videos, Photos, and Text Posts. Get their response on public record.</p>>
    {{/if}}
    {{#if protestMainstreamMedia}}
        <p>Share online: Use whatever social media you prefer. Videos, Photos, and Text Posts. Let’s keep their attention.</p>>
    {{/if}}
    <p>Day / Time: Get out there right now, today. Join up with whoever is out there, or start a new crowd.</p>
</section>