<section class="protest-locations">
    <h3>Locations</h3>
    <div class="protest-locations__locations">
        {{#if protestWashingtonDC}}
            <div class="protest-locations__location">
                <h4>U.S. Capitol building in Washington, DC</h4>
                <a href="https://goo.gl/maps/nme48LbJruCKd7Rw8" target="_blank">First St SE<br />Washington, DC 20004</a>
            </div>
        {{/if}}
        {{#if protestMainstreamMedia}}
            <div class="protest-locations__location">
                <h4>MSNBC &amp; NBC Studios</h4>
                <a href="https://goo.gl/maps/eipJzC8xiUmhAVCa7" target="_blank">30 Rockefeller Center complex<br />New York City</a>
            </div>
            <div class="protest-locations__location">
                <h4>The CNN Center</h4>
                <a href="https://goo.gl/maps/mU1QCySdR6kvuSNd8" target="_blank">190 Marietta St NW<br />Atlanta, GA 30303</a>
            </div>
            <div class="protest-locations__location">
                <h4>Fox News</h4>
                <a href="https://goo.gl/maps/mU1QCySdR6kvuSNd8" target="_blank">211 Avenue of the Americas<br />Streetside studio on Sixth Avenue in the west wing of Rockefeller Center</a>
            </div>
        {{/if}}
    </div>
</section>