<section class="protest-printables">
    <h3>Printables</h3>
    <div class="protest-printables__wrapper">
        <div class="protest-printables__printable">
            <img src="/printable-01.1fccfff4.png" class="img-responsive" />
            <div class="protest-printables__downloads"><a href="/printable-01.pdf" download>PDF</a> | <a href="/printable-01.1fccfff4.png" download>PNG</a></div>
        </div>
        <div class="protest-printables__printable">
            <img src="/printable-02.bf4963b3.png" class="img-responsive" />
            <div class="protest-printables__downloads"><a href="/printable-02.pdf" download>PDF</a> | <a href="/printable-02.bf4963b3.png" download>PNG</a></div>
        </div>
    </div>
</section>