<section class="printables">
    <h2>Printables</h2>
    <div class="printables__wrapper">
        <a href="/printable-01.1fccfff4.png" download>
            <span class="printables__printable printables__01"></span>
        </a>
        <a href="/printable-02.bf4963b3.png" download>
            <span class="printables__printable printables__02"></span>
        </a>
    </div>
</section>