<section class="printables">
    <h2>Printables</h2>
    <div class="printables__wrapper">
        <div class="printable">
            <img src="" class="img-responsive" />
            <div>PDF | <a href="/printable-01.1fccfff4.png" download></a>PNG</a></div>
        </div>
        <div class="printable">
            <img src="" class="img-responsive" />
            <div>PDF | <a href="/printable-02.bf4963b3.png" download></a>PNG</a></div>
        </div>
    </div>
</section>