{{> header }}

<section id="about__header page-header">
    <div class="section-inner-wrapper section-header">
        <h2>About Us</h2>
    </div>
</section>

{{> donatevolunteer }}

<section id="about__info">
    <div class="section-inner-wrapper">
        <p>We are a group of highly motivated individuals from around the country who believe that healthcare is a human right.</p>
        <p>We demand Medicare For All be implemented now.</p>
        <p>We believe the way to accomplish this is through direct action.</p>
        <p>We are organizing a nationwide march to put intense pressure on our representatives to implement Medicare For All right away.</p>
    </div>
</section>

<section id="mailchimp">
    {{> mailchimp }}
</section>

{{> footer}}