{{> header }}

<section id="contact__header page-header">
    <div class="section-inner-wrapper section-header">
        <h2>Contact Us</h2>
    </div>
</section>

{{> donatevolunteer }}

<section id="contact__info">
    <div class="section-inner-wrapper">
        <p><span>Email:</span> <a href="mailto:m4m4all@m4m4all.org">m4m4all@m4m4all.org</a></p>
        <p><span>Message:</span> <a href="https://www.facebook.com/groups/m4m4all/about" target="_blank">#M4M4ALL Facebook</a></p>
    </div>
</section>

<section id="mailchimp">
    {{> mailchimp }}
</section>

{{> footer}}
