{{> header }}

<section>
    <h2>Protest Fox News</h2>
    <p>211 Avenue of the Americas, in its streetside studio on Sixth Avenue in the west wing of Rockefeller Center</p>
    <p>When? Right Now!</p>
</section>

{{> instructions }}

{{> footer}}