{{> header }}

<section class="banner">
    <div class="banner__wrapper">
        <h2>Cancel Their<br />Healthcare</h2>
    </div>
</section>

<section class="ameri-first">
    <h3>An American People's<br /> First Initiative</h3>
</section>

<section class="about-home" id="about-home">
    <h3>About #CancelTheirHealthcare</h3>
    <div class="about-home__content-wrapper">
        <p>100% of our Representatives in Washington, DC are receiving the best employer provided healthcare coverage in the country. Their incomes is provided from our taxes. We vote to give them a job and our taxes pay their salary. We are their employer.</p>
        <p>We are PEACEFULLY requesting that ALL of our Representatives in Washington, DC cancel the healthcare coverage we are providing them, until they are able to find a solution (public or private), that has an end result of insuring 100% of all American citizens and tax payers first.</p>
        <p>After 100% of American citizens are receiving the same, or better, healthcare coverage than our Representatives are receiving currently, can our Representatives then receive healthcare coverage for them and their famiies.</p>
        <p>All our Representatives in Washington DC will pay 100% of their health treatments and medication out of pocket, with no help from any healthcare  coverage provider of any kind, until the 100% of American citizens are covered first.</p>
        <p>This is an American People's First Initiative.</p>
    </div>
</section>

<section class="protests" id="protests-home">
    <div class="protests__header-wrapper">
        <h3>Protest Now!</h3>
    </div>
    <div class="protests__protest protests__washingtondc">
        <h4>Representatives in<br /> Washington, DC</h4>
        <a class="more-info-btn more-info-btn__large" href="/protest-washington-dc">more details ></a>
    </div>
    <div class="protests__protest protests__media">
        <h4>Mainstream Media</h4>
        <a class="more-info-btn more-info-btn__large" href="/protest-mainstream-media">more details ></a>
    </div>
</section>

{{> footer }}