{{> header }}

<section class="banner">
    <div class="banner__wrapper">
        <h2>C-19 Vaccine<br />Side Effects<br />Are Real</h2>
    </div>
</section>

<section class="ameri-first">
    <h3>It's Time To Protest The Doctors</h3>
</section>

<section class="about-home" id="about-home">
    <h3>About #SideEffectsReal</h3>
    <div class="about-home__content-wrapper">
        <p>The doctors have been sweeping the C-19 vaccine side effect cases under the rug since the release of the vaccines, calling the cases "rare", leaving the patients with no where to turn.</p>
        <p>Washington isn't putting up a fight for those that are stuck with these side effects. So it's time to take the protest to the doctors and get an answer.</p>
        <p>This protest is about getting right in front of the hospitals, the doctors workplace. It will also help to get in front of the patients who are feeling left out in the cold and don't know who go to for help.</p>
        <p><b>THIS IS A PEACEFUL PROTEST (NO VIOLENCE!).</b></p>
    </div>
</section>

<section class="protests" id="protests-home">
    <div class="home__header-wrapper">
        <h3>Protest Now!</h3>
    </div>
    <div class="sections-body">
        <h4>When?</h4>
        <p>Right now! Whatever days and times you can get out there. There's going to be no end to this protest until we have some sort of resolution from the doctors or hospitals. Whether it's just you or you're with a group, it's important to get in front of the other patients as they entering and exiting the hospitals so they know we're grouping up and taking action.</p>
        <h4>Where?</h4>
        <p>At your nearest hospital or the hospital you were diagnosed at. The doctors are doing this nationwide. This is a protest to the hospitals and the doctors, so let's take it straight to their workplace and bring awareness to all the other patients.</p>
        <h4>Can't get out there and protest, but want to help?</h4>
        <p>No problem. Almost everybody has a social media account of some kind. Use your own social media account to share what we're doing. You can help by sharing this URL with as many people as possible (family, friend, ect.). Ask them to get out there on your behalf.</p>
        <h4>Share on social media?</h4>
        <p>Use your own social media accounts to share the protest. Most of you have a social media account somewhere. Share with your friends and followers. Share the URL: SideEffectsReal.com to give them direction.</p>
        <h4>Banner and sign ideas?</h4>
        <p>Place the URL: SideEffectsReal.com on the sign or banner alongside your message. It will help people learn about the protest and how they can quickly get involved.</p>
        <h4>Example Sign</h4>
        <p class="example-sign"><img class=" img-responsive" src="example-sign-front.jpg" /></p>
        <p class="example-sign"><img class=" img-responsive" src="example-sign-back.jpg" /></p>
    </div>
</section>

<section class="support-groups" id="support-groups-home">
    <div class="home__header-wrapper">
        <h3>Support</h3>
    </div>
    <div class="sections-body">
        <p class="group"><a href="https://www.icandecide.org/report-a-covid-19-vaccine-injury/" target="_blank"><img class=" img-responsive" src="support-groups-ican.png" /></a></p>
        <p class="group"><a href="https://nomoresilence.world/" target="_blank"><img class=" img-responsive" src="support-groups-no-more-silence.png" /></a></p>
        <p class="group"><a href="https://www.react19.org/" target="_blank"><img class=" img-responsive" src="support-groups-react-19.png" /></a></p>
        <p class="group"><a href="https://www.realnotrare.com/" target="_blank"><img class=" img-responsive" src="support-groups-real-not-rare.png" /></a></p>
        <p class="group"><a href="https://www.sirillp.com/vaccine-injury/" target="_blank"><img class=" img-responsive" src="support-groups-siri-glimstad.png" /></a></p>
    </div>
</section>

{{> footer }}