{{> header }}

<section>
    <h2>Cancel Their Healthcare</h2>
    <p>An American People's First Initiative</p>
</section>

<section>
    <h2>About #CancelTheirHealthcare</h2>
    <p>100% of our Representatives in Washington, DC are receiving the best employer provided healthcare coverage in the country. Their incomes is provided from our taxes. We vote to give them a job and our taxes pay their salary. We are their employer.</p>
    <p>We are PEACEFULLY requesting that ALL of our Representatives in Washington, DC cancel the healthcare coverage we are providing them, until they are able to find a solution (public or private), that has an end result of insuring 100% of all American citizens and tax payers first.</p>
    <p>After 100% of American citizens are receiving the same, or better, healthcare coverage than our Representatives are receiving currently, can our Representatives then receive healthcare coverage for them and their famiies.</p>
    <p>All our Representatives in Washington DC will pay 100% of their health treatments and medication out of pocket, with no help from any healthcare  coverage provider of any kind, until the 100% of American citizens are covered first.</p>
    <p>This is an American People's First Initiative.</p>
</section>

<section class="protests-representatives">
    <h2>Protest Our Representatives</h2>
    <div class="protests-representatives__protest">
        <div>
            <h3>U.S. Capitol building in Washington, DC</h3>
            <p>First St SE, Washington, DC 20004</p>
            <a href="/washington-dc-protest">more details</a>
        </div>
    </div>
</section>

<section class="protests-media">
    <h2>Protest Mainstream Media</h2>
    <div class="protests-media__protest">
        <div>
            <h3>Fox News</h3>
            <p>1211 Avenue of the Americas, in its streetside studio on Sixth Avenue in the west wing of Rockefeller Center</p>
            <a href="/fox-news-protest">more details ></a>
        </div>
    </div>
    <div class="protests-media__protest">
        <div>
            <h3>The CNN Center</h3>
            <p>190 Marietta St NW, Atlanta, GA 30303</p>
            <a href="/cnn-protest">more details ></a>
        </div>
    </div>
    <div class="protests-media__protest">
        <div>
            <h3>MSNBC and NBC News</h3>
            <p>30 Rockefeller Center complex in New York City</p>
            <a href="/nbc-protest">more details ></a>
        </div>
    </div>
</section>

{{> footer}}