{{> header }}

<section>
    <h2>Protest NBC</h2>
    <p>30 Rockefeller Center complex in New York City</p>
    <p>When? Right Now!</p>
</section>

{{> instructions }}

{{> printables }}

{{> footer }}