{{> header }}

<section class="banner">
    <h2>Protest Our Representatives in Washington, DC</h2>
</section>

{{> instructions protestWashingtonDC=true }}

{{> printables }}

<section>
    <h3>Locations</h3>
    <div>
        <h4>U.S. Capitol building in Washington, DC</h4>
        <a href="https://goo.gl/maps/nme48LbJruCKd7Rw8" target="_blank">First St SE, Washington, DC 20004</a>
    </div>
</section>

{{> footer }}