{{> header }}

<section>
    <h2>Cancel Their Healthcare</h2>
    <p>An American People's First Initiative</p>
</section>

<section class="printables">
    <h3>Printables</h3>
    <div class="printables__banner"></div>
    <div class="printables__blowhorns"></div>
</section>

{{> footer}}