{{> header }}

<section>
    <h2>Protest Our Representatives</h2>
    <p>U.S. Capitol building in Washington, DC</p>
    <p>First St SE, Washington, DC 20004</p>
    <p>When? Right Now!</p>
</section>

<section>
    <h2>Instructions</h2>
    <p>PEACEFULLY approach our Representatives and POLITELY REQUEST that they cancel their healthcare as soon as possible.</p>
    <p>Use whatever social media you prefer. Videos, Photos, and Text Posts. Get their response on record for the entire country to see.</p>
    <p>Get out there when you have the time. After work, or on a day off, and for as many days and hours that you can, until 100% of our Representatives are no longer covered.</p>
    <p>The Chant: "Cancel Their Healthcare! Cancel Their Healthcare! Cancel Their Healthcare!"</p>
    <p>Need printables?</p>
</section>

{{> printables }}

{{> footer }}