.header-simple {

  width: 100%;
  height: 48px;
  margin: 0;
  padding: 0;
  position: fixed;
  -webkit-transform: translateZ(0);
  top: 0;
  left: 0;
  z-index: 999;
  font-family: 'OpenSans-Regular', sans-serif;
  @media (min-width: 880px){
    height: 60px;
  }

  .container {
    width: 100%;
    height: 48px;
    margin: 0;
    padding: 0;
    background-color: #fff;
    @media (min-width: 880px){
      height: 60px;
    }
    @media (min-width: 1200px){
      width: 1200px;
      margin: 0 auto;
      //padding: 0 160px;
      border-left: 1px solid @site-content-border;
      border-right: 1px solid @site-content-border;
    }
    @media (min-width: @full-width-media){
      width: @full-width;
      margin: 0 auto;
      padding: 0 159px;
    }
  }

  .header-logo-wrapper {
    margin-left: 6px;
    margin-top: 4px;
    float: left;
    a {
      display: inline-block;
      img {
        width: 140px;
        @media (min-width: 880px){
          width: 200px;
        }
      }
    }
    @media (min-width: 880px){
      margin-left: 15px;
    }
    @media (min-width: 1200px){
      margin-left: 15px;
    }
    @media (min-width: @full-width-media){
      margin-left: 0;
    }
  }

  .header-call {
    @media (max-width: 879px){
      display: none;
    }
    font-family: 'OpenSans-Bold', sans-serif;
    font-size: 16px;
    float: right;
    a {
      height: 60px;
      padding: 21px 21px 0 21px;
      display: block;
      background-color: @primary-blue;
      color: #fff;
      text-decoration: none;
      &:hover {
        background-color: @blue;
      }
    }
  }

}
