

.header {

  width: 100%;
  height: 50px;
  text-align: center;
  background-color: $red-dark;
  border-bottom: 1px solid #333;
  position: fixed;
  top: 0;
  left: 0;

  &__wrapper {
    max-width: 1200px;
    height: 50px;
    margin: 0 auto;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    @media(min-width: 720px){
      padding: 0;
      flex-direction: row;
    }


    h1 {
      // width: 400px;
      // margin-bottom: 12px;
      text-align: center;
      @media(min-width: 720px){
        font-size: 1.3em;
        font-weight: 700;
        text-align: left;
      }
      a {
        color: #fff;
        text-decoration: none;
        &:hover {
          color: $grey-hover;
        }
      }
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media(min-width: 720px){
      flex-direction: row;
    }
    a {
      margin-bottom: 15px;
      // text-transform: uppercase;
      font-size: 1.3em;
      color: #fff;
      font-weight: 700;
      text-decoration: none;
      @media(min-width: 720px){
        margin-bottom: 0;
        margin-left: 40px;
      }
      &:hover {
        color: $grey-hover;
      }
    }
  }

}



