.home {

  .banner {
    margin-top: 50px;
    &__wrapper {
      background-image: url('../imgs/home-banner.png');
      background-position: center;
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
      h2 {
        padding: 130px 20px;
        font-size: 7em;
        font-weight: 900;
        line-height: 1.1em;
        color: #fff;
      }
    }
  }

  .ameri-first {
    background-color: #590000;
    display: flex;
    justify-content: center;
    align-items: center;
    h2 {
      padding: 40px 20px;
      font-size: 3em;
      font-weight: 900;
      line-height: 1.1em;
      color: #b8b8b8;
    }
  }

  .about-home {
    padding: 60px 20px;
    text-align: center;
    h2 {
      margin-bottom: 20px;
      font-size: 2.1em;
      font-weight: 700;
      line-height: 1.1em;
      color: #000;

    }
    &__content-wrapper {
      width: 800px;
      margin: 0 auto;
      text-align: left;
      p {
        margin-bottom: 20px;
        font-size: 1.1em;
        font-weight: 400;
        line-height: 1.3em;
        letter-spacing: 1px;
        color: #000;
      }
    }
  }

  .protests {
    background-color: #000;
    text-align: center;
    &__header-wrapper {
      padding: 40px 20px;
      background-color: $red-main;
      h2 {
        font-size: 2.1em;
        font-weight: 700;
        line-height: 1.1em;
        color: #fff;
      }
    }
    &__washingtondc {
      width: 1000px;
      height: 300px;
      margin: 20px auto;
      background-image: url('../imgs/home-protest-washingtondc.png');
      background-position: center;
      background-size: cover;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h3 {
        margin-bottom: 20px;        
        font-size: 1.5em;
        font-weight: 700;
        color: #fff;
      }
    }
    &__media {
      display: flex;
      flex-direction: column;
      @media (min-width: 720px) {
        flex-direction: row;
        justify-content: center;
      }
      &__protest {
        width: 320px;
        height: 300px;
        margin: 0 10px 20px 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff;
        h3 {
          margin-bottom: 20px;        
          font-size: 1.2em;
          font-weight: 700;
        }
      }
      &__nbc {
        background-image: url('../imgs/home-protest-nbc.png');
      }
      &__cnn {
        background-image: url('../imgs/home-protest-cnn.png');
      }
      &__foxnews {
        background-image: url('../imgs/home-protest-foxnews.png');
      }
    }
  }

}